html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navigation */

nav.styles-nav {
  background: transparent;
  padding: 2.0rem 0;
  transition: .5s all;
}

nav .navbar-brand {
  font-size: 1.8rem;
  color: #fff;
  transition: .5s all;
}

nav .navbar-nav li a {
  color: rgba(255,255,255,0.8) !important;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
}

nav .navbar-nav li {
  margin-left: 1rem;
}

nav.styles-nav.stickyadd {
  background: #fff !important;
  opacity: 0.5;
  padding: 1rem 0;
  box-shadow: 0 1px 8px 3px rbga(0,0,0,0.05);
  transition: 1s all ease-in-out;
}

nav.stickyadd .navbar-brand{
  color:#000;
  font-size: 1.25rem;
  transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link{
  color:#000 !important;
}

.navbar .hamburger {
  color:#fff;
}

nav.stickyadd .hamburger {
  color:#000;
}

section {
  width:100%;
  height:150vh;
  background: #000;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
